:root {
    --light: #ffffff;
    --dark: #000000;
    --purple: #8751be;


}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.card__inicio{
    background-color:black;
    font-size: medium;
    float: none;
    width: 100%;
    height: auto;
    
}
.card__logo{
    color: white;
    font-size: medium;
    width: 100%;
    float: none;
    font-family:'Edu VIC WA NT Beginner';
}
.nav__barra{
    display: flex;
    justify-content:flex-end;
    color: white;
    text-decoration: none;
    font-family: 'Edu QLD Beginner';
    width: 80%;
}


.main{
    display: flex;
    justify-content: space-around;
}


footer{
    margin-bottom: 0;
}
.main{
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: 50px 20px 10px;
}
.section{
    background-color: gray
}
.our{
    height:50vh;
}
.nav-link{
    color: white;
    font-size: larger;
}

.caja{
    background-image: url(../images/chica\ ejercitando19.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    height: 50%;
    
}
.father{
    align-self: center;
    padding: 0 3rem;
    margin-top: 10rem;
}
.content{
    width: 50%;
}

h1{
    margin: 0;
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
}
h1 span {
    font-weight: 600;
}

.text-light {
    color: var(--light)
}
html, body {
 margin: 0;
 height: 100%;
 font-size: 1.2rem;
 line-height: 1.6;
}
@media (max-width:575px) {
    .caja{
        background-image: url(../images/chica\ ejercitando22.jpg);
    }
    
    h1 {
        font-size: 1.4rem;
    }
}


